Package: ripple-greeting-dbgsym
Package-Type: ddeb
Source: ripple-greeting
Version: 0.0.1~rc1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 857
Depends: ripple-greeting (= 0.0.1~rc1)
Section: debug
Priority: optional
Description: debug symbols for ripple-greeting
Build-Ids: 4490ed2fd9aef10d7df247dc58187c187c257110 a32049847b41ca31a223bc1c9f8961e888c7625b
